<!DOCTYPE html>
<html>
    <body>
        <h1>Pet List</h1>
        <form id="formAddPet" name="addpet" method="post" action="/addpet">
            <input id="inputPetName" type="text" placeholder="Pet name" name="petname">
            <input id="inputPetSpecies" type="text" placeholder="Pet species" name="petspecies">
            <button id="buttonSubmit" type="submit">Add</button>

        </form>

        <ul>
            <% pets.forEach( function( pet ){ %>
            <li>
                <% if( pet._id == current ){ %>
                <form style="display:inline-block" action="/update/<%= pet._id %>" method="post" accept-charset="utf-8">
                    <input type="text" name="petname" value="<%= pet.name %>" />
                    <input type="text" name="petspecies" value="<%= pet.species %>" />
                    <input type="submit" value="Update">
                </form>
                <a href="/delete/<%= pet._id %>">Delete</a>                    
                <% }else{ %>
                <%= pet.name %> the <%= pet.species %>
                <a href="/edit/<%= pet._id %>">Edit</a>
                <a href="/delete/<%= pet._id %>">Delete</a>
                <% } %>
            </li>
            <% }); %>
        </ul>


    </body>
</html>