<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <div class="petlist">
            <h1>Pet List</h1>
            <form id="formAddPet" class="pet-input" name="addpet" method="post" action="/addpet">
                <input id="inputPetName" type="text" placeholder="Pet name" name="petname">
                <input id="inputPetSpecies" type="text" placeholder="Pet species" name="petspecies">
                <button id="buttonSubmit" type="submit">Add</button>
            </form>
            <div class="pet-list">
                <ul>
                    <% pets.forEach( function( pet ){ %>
                    <% if (typeof current !== "undefined" && current && pet._id == current ){ %>
                    <li class="pet-row-edit">
                        <form class="pet-input" action="/update/<%= pet._id %>" method="post" accept-charset="utf-8">
                            <input type="text" name="petname" placeholder="Pet name" value="<%= pet.name %>" />
                            <input type="text" name="petspecies" placeholder="Pet species" value="<%= pet.species %>" />
                            <button type="submit" >Update</button>
                        </form>
                    </li>
                    <% }else{ %>
                    <li class="pet-row">
                        <span onclick="location.href = '/edit/<%= pet._id %>';"><%= pet.name %> the <%= pet.species %></span>
                        <button id="deleteBtn" onclick="location.href = '/delete/<%= pet._id %>';">X</button>
                    </li>
                    <% } %>
                    <% }); %>
                </ul>
            </div>
        </div>
    </body>
</html>